
@_contact-icon-font-size: 20px;
@_contact-icon-font-color: @color-gray34;

.after-footer-icon(
    @_after-footer-icon-font-size: 40px,
    @_after-footer-icon-border-radius: 50%,
    @_after-footer-icon-border: 2px solid,
    @_after-footer-icon-margin: 20px
){
    font-size: @_after-footer-icon-font-size;
    border-radius: @_after-footer-icon-border-radius;
    border: @_after-footer-icon-border;
    margin: @_after-footer-icon;
}


